/* Imports */
@import "https://monstrousdev.github.io/themes/phoenix-bundle/base.css";


/* Variables */

:root {
  --theme-name: "Reborn";
  --blackout: black;
  --dark: #333;
  --lighter: #666;
  --bright: #ccc;
  --background-blur: 0px;
  --popup-blur: 0px;
  --background-darkness: 0.75
}

  /* Dark Mode */
  .appMount-2yBXZl {
    --primary-color: rgba(0,0,0,var(--background-darkness));
  }

  .theme-dark {
    --primary-color: rgba(0,0,0,0.75);
    --secondary-color: rgba(0,0,0,0.6);
    --tertiary-color: rgba(0,0,0,0.4);
    --quaternary-color: rgba(0,0,0,0.7);
  }

  /* Light Mode */
  .theme-light {
    --primary-color: rgba(0,0,0,0.55);
    --secondary-color: rgba(0,0,0,0.4);
    --tertiary-color: rgba(0,0,0,0.2);
    --quaternary-color: rgba(0,0,0,0.5);
  }

/* Table of Contents 
 ============== STATIC ===============
1. Backgrund
  1.a. Main Background
  1.b. Transparency

2. User Settings

3. Chat

4. Popouts and Modals

5. @Media Edits

6. Misc
*/





/* 1. Background */
  /* 1.a. Main Background */
  .appMount-2yBXZl::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    filter: blur(var(--background-blur));
  }
  
  .app-2CXKsg {
    background-color: var(--primary-color);
  }
  
    /* 1.b. Transparency */
  .layer-86YKbF, 
  .layers-OrUESM,
  .container-1eFtFS,
  .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ,
  .channels-Ie2l6A, 
  .container-PNkimc,
  .members-3WRCEx,
  .chat-2ZfjoI, 
  .chat-2ZfjoI form, 
  .content-1jQy2l,
  .messagesWrapper-3lZDfY,
  .noChannel-Z1DQK7,
  .private-channel-call,
  .video-eAcneW,
  #friends,
  .appMount-2yBXZl,
  .standardSidebarView-E9Pc3j,
  .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG,
  .inner-zqa7da,
  .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebar-nqHbhN,
  .userSettingsVoice-1_dzjw .media-engine-video,
  .activityFeed-28jde9,
  .search .searchBarIcon-1J6sKG,
  .footer-2yfCgX,
  .container-1UB9sr,
  .title-31SJ6t,
  .header-2o-2hj,
  .headerBar-UHpsPw,
  .container-2Thooq,
  .privateChannels-oVe7HL .search-bar,
  .wrapper-2NJDcI,
  .wrapper-29NfPK,
  .incomingCall-14zLc,
  .gameLibrary-TTDw4Y,
  .paginator-1eqD2g,
  .payment-2bOh4k,
  .sidebar-1-SQro,
  .reactors-1VXca7,
  .applicationStore-2nk7Lo,
  #permissions-modal-wrapper .role-side,
  .itemBackground-1jfD8p,
  .gamePreview-9weYR2 .sideBar-2_lxpG,
  .gamePreview-9weYR2 .body-1SVoBw,
  .news-2KwXHF,
  .root-1BQpZw,
  .root-26DmKJ,
  .container-3gCOGc,
  .appMount-2yBXZl .pageWrapper-2PwDoS,
  .wrapper-1Rf91z,
  .wrapper-1_HaEi,
  .emptyPlayers-dx3qig, 
  .players-1zg2l8,
  .users-i_3-kL,
  #app-mount .container-ZMc96U,
  #app-mount .users-i_3-kL,
  #app-mount .footer-1hTRRZ,
  #app-mount .footer-30ewN8,
  .searchBar-1MOL6S, 
  #app-mount .container-1SX9VC,
  #app-mount .footer-1Ip3Sd,
  #app-mount .privateChannels-oVe7HL,
  #app-mount .panels-3wFtMD,
  #app-mount .scroller-2TZvBN,
  #app-mount .scroller-WSmht3,
  #app-mount .sidebar-1tnWFu,
  .scrollableContainer-38zsVD,
  .scrollableContainer-15eg7h,
  .appMount-2yBXZl, body,
  .channelTextArea-1FufC0,
  #app-mount .container-2cd8Mz,
  .container-1-ERn5,
  .textContainer-36wgKK,
  .stageSection-3mAD8V,
  .threadSidebar-1o3BTy {
  background: transparent !important;
  }
  
  .textContainer-36wgKK {
    border: none;
  }

  #app-mount .footer-1Ip3Sd {
    box-shadow: none;
  }

  #app-mount .bannerImage-1jOskm::after {
    opacity: 0;
  }
  
  #app-mount .activityFeed-1C0EmJ {
    background-color: transparent;
  }
  
  .typeMacOS-3V4xXE.titleBar-1it3bQ,
  .uploadModal-2ie9O_ .footer-VCsJQY {
    background-color: var(--primary-color) !important;
  }
  
  
  /* 2. User Settings */
  .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh,
  .uploadModal-2ie9O_ .footer-VCsJQY,
  .uploadModal-2ie9O_ .inner-rBP-MS .channelTextAreaUpload-30SRDh .inner-zqa7da {
    background-color: var(--secondary-color) !important;
  }
  
  
  
  /* 3. Chat */
  #app-mount .iconMask-2fMR98,
  .preview-rua1rr {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-3O_wAf,
  .icon-1SdhiF {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }
  
  .searchResultsWrap-5RVOkx,
  .searchPopout-1vUlP3,
  #app-mount .container-2RRFHK,
  .guilds-2JjMmN:not(.foldercontent) .scroller-3X7KbA>.tutorialContainer-1pL9QS .listItem-3SmSlK {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-1YxwTf .inner-NQg18Y {
    background-color: var(--tertiary-color);
    border-radius: 5px;
  }

  .content-3dzVd8 .innerNoAutocomplete-1WpcVO {
    background-color: var(--tertiary-color) !important;
  }

  /* 4. Popouts & Modals */
  .colorPickerCustom-1swUKF {
    border-color: var(--quaternary-color) !important;
  }
  
  #app-mount .popout-3G62UL {
    background-color: transparent !important;
    background-attachment: fixed !important;
    background-image: var(--background-image) !important;
    background-position: center !important;
    background-size: cover !important;
  }
  
  .botTagInvert-1nKcq_ {
    background-color: var(--main-color);
    color: white;
  }
  
  #app-mount .searchResultsContainer-1ma_dc,
  #app-mount .menu-Sp6bN1,
  #app-mount .themedPopout-25DgLi,
  #app-mount .container-2McqkF,
  #app-mount .addGamePopout-3yePJc,
  #app-mount .colorPickerCustom-2CWBn,
  #app-mount .perksModal-fSYqOq,
  .css-3vaxre-menu,
  .header-JUTO-g {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }

  #app-mount .messagesPopoutWrap-3zryHW,
  #app-mount .recentMentionsPopout-2bI1ZN {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat !important;
  }

  .viewAsRolesWarning-1lkgoG,
  .container-3LUQwT {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed;
  }

  #app-mount .css-n57xjs-menu {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat;
    background-attachment: fixed !important;
  }

  #app-mount .tierMarkerBackground-G8FoN4 {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/600px 618px no-repeat !important;
    background-attachment: fixed;
  }

  .emojiPicker-3m1S-j, 
  .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ, 
  .diversitySelector-tmmMv0 .popout-2nUePc,
  #app-mount .uploadModal-2ie9O_,
  #app-mount .modalRoot-2fww1y,
  .styleFixed-2_NfVL,
  .styleFlexible-x0_sIC,
  .submenu-1apzyU,
  .previewContainer-1SS3uO,
  .container-2O1UgZ,
  #app-mount .streamPreview-3qoMP4,
  .profileBannerPreview-3_l0Wd {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  .avatarUploaderInner-Oiob_P {
    border-color: var(--main-color);
  }
  
  .profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
    background: transparent;
  }

  .headerTop-3GPUSF {
    background: var(--primary-color);
  }

  .container-2O1UgZ .inner-2pOSmK {
    background-color: var(--quaternary-color) !important;
    border-color: var(--quaternary-color) !important;
  }

  .emojiPicker-3m1S-j .categories-1feg4n,
  .infoBar-U6oBFk {
    background: var(--tertiary-color);
  }
  
  .userPopout-2j1gM4,
  .create-guild-container.deprecated,
  .inner-1JeGVc .root-SR8cQa,
  .container-1ILvLB,
  .container-1Gt1iQ,
  .userList-3HrI62,
  #permissions-modal-wrapper #permissions-modal,
  .create-guild-container-new.deprecated .form.deprecated,
  .toast,
  .inner-2VEzy9 .root-SR8cQa,
  #app-mount .modal-2LBig1 .focusLock-2tveLW .root-8LYsGj {
    background-image: var(--popup-background) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  
  #app-mount .quickswitcher-pKcM9U,
  #app-mount .modal-3HD5ck,
  #app-mount .keyboardShortcutsModal-2CRmCm,
  #app-mount .incomingCallInner-2VmFiR,
  #app-mount .regionSelectModal-12e-57,
  .backdrop-2ByYRN[style*="background-color: rgb(255, 255, 255)"],
  #app-mount .gamePreview-9weYR2,
  #app-mount .popout-2xBvMR,
  #app-mount .sb-menu-scroller-wrapper,
  .metalloriff-changelog-scroller,
  .container-1S70rv,
  .bd-modal-inner,
  #app-mount .contextMenu-HLZMGh,
  #app-mount .monsterModal,
  #app-mount .popout-3sVMXz .container-jGk-CT,
  #app-mount .modal-3v8ziU,
  #app-mount .modal-2RrUKJ,
  .contentWrapper-2txmjs,
  .emojiPicker-6YCk8a,
  .focusLock-2tveLW .root-g14mjS {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  #app-mount .content-3nJg0c:before {
    background-color: var(--quaternary-color);
  }
  
  .container-1Gt1iQ {
    border-radius: 5px;
  }
  
  #app-mount .popout-3G62UL::before {
    border-radius: 4px;
  }
  
  .userPopout-2j1gM4 .header-2BwW8b,
  [class*="topSection"],
  .tiles-2aXG_k,
  .container-1ILvLB header,
  .container-1ILvLB section,
  #permissions-modal-wrapper .header,
  #permissions-modal-wrapper .modal-body {
    background-color: var(--primary-color) !important;
  }
  
  .create-guild-container.deprecated .form.deprecated .form-inner {
    background-color: var(--quaternary-color) !important;
  }
  
  .searchPopout-1vUlP3::before,
  .add-game-popout::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    pointer-events: none;
  }
  
  .container-2RRFHK::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    z-index: -1 !important;
  }
  
  .notches-2w7UZJ {
    position: relative;
    background-attachment: fixed;
    background-image: var(--background-image) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    width: 100%;
  }
  
  .notches-2w7UZJ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    background-color: var(--primary-color);
  }
  
  .content-1_NQ-_,
  .errorState-3QMR6P,
  .phoneVerificationModal-3OHeBt .title-2UGWXc,
  .phoneVerificationModal-3OHeBt .description-krHRyL,
  .container-_CzRhL img[src*="/assets/261873897d8899d4e2e724efdfa21ee3.svg"],
  .container-_CzRhL .title-Ic5R7V,
  .container-_CzRhL .description-2waT7u,
  .tipsWithoutResults-lGY-De, 
  .tipsWithResults-HhTE9b,
  .modalTitle-2skSKy,
  .modalSubtitle-2lx7qk,
  .queryText-j8z984,
  .empty-3sCt5f,
  .popoutSocialInfo-1qhqSY,
  .recommendationReason-10-H0n,
  .themeDark-3Ap_7i,
  .sb-menu-label,
  .sb-menu-scroller,
  .metalloriff-update-label,
  .metalloriff-changelog-label,
  .emptyState-1OLqEw,
  .container-2RRFHK * {
    z-index: 1;
  }
  
  .emptyNote-3nZbCz, 
  .emptyTitle-3Jm6Ve {
    color: white !important;
    z-index: 2;
    opacity: 1;
   }
  
  .popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
    background-color: var(--tertiary-color) !important;
  }
  
  .need-help-modal .header h1::after {
    left: -220px;
  }

  .layer-2aCOJ3[style*="; bottom: 5"][id*="popout_"] .menu-1QACrS .item-1OdjEX:nth-child(7),
  #status-picker .layer-2aCOJ3 .submenuPaddingContainer-_k62dJ,
  #status-picker #status-picker-switch-account {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }
  
  /* 5. @Media Edits */
  @media only screen and (max-width: 915px) {
  
    .members-3WRCEx:hover {
      background-color: var(--primary-color) !important;
    }
  }

/* 6. Misc */
#ghostping-panel {
  background-image: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) !important;
  background-size: cover, cover;
  background-position: center, center;
  background-attachment: initial, fixed;
}

.lookGhost-2Fn_0-::before {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), var(--background-image) center/cover no-repeat fixed;
}

.lookGhost-2Fn_0-.colorBrand-I6CyqQ::before {
  opacity: .9;
}

/* custom background fix */

.userPopout-2j1gM4 .wrapper-1VLyxH * {
  z-index: 1;
}

.userPopout-2j1gM4 .wrapper-1VLyxH::after {
  z-index: unset;
}