/* ======= SPECIAL TAGS ========= */
/* badges */
.avatar-1BDn8e[src*="166365757561634816"] ~ span::after,
.avatar-1BDn8e[src*="402272736665272320"] ~ span::after,
.avatar-1BDn8e[src*="134349083568504832"] ~ span::after,
.avatar-1BDn8e[src*="244392852950482944"] ~ span::after,
.avatar-1BDn8e[src*="254362351170617345"] ~ span::after,
.avatar-1BDn8e[src*="213220786805145600"] ~ span::after,
.avatar-1BDn8e[src*="231827402102276096"] ~ span::after,
.avatar-1BDn8e[src*="236006926406778881"] ~ span::after,
.avatar-1BDn8e[src*="282138006738042880"] ~ span::after,
.avatar-1BDn8e[src*="140012296910012416"] ~ span::after,
.avatar-1BDn8e[src*="174868361040232448"] ~ span::after ,
.avatar-1BDn8e[src*="273169968202252289"] ~ span::after,
.avatar-1BDn8e[src*="234148582523928576"] ~ span::after,
.avatar-1BDn8e[src*="664933588835368990"] ~ span::after,
.avatar-1BDn8e[src*="454072114492866560"] ~ span::after{
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -33px;
  left: 51px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}


/* on hover */
.avatar-1BDn8e[src*="166365757561634816"]:hover ~ span::after,
.avatar-1BDn8e[src*="402272736665272320"]:hover ~ span::after,
.avatar-1BDn8e[src*="134349083568504832"]:hover ~ span::after,
.avatar-1BDn8e[src*="244392852950482944"]:hover ~ span::after,
.avatar-1BDn8e[src*="254362351170617345"]:hover ~ span::after,
.avatar-1BDn8e[src*="213220786805145600"]:hover ~ span::after,
.avatar-1BDn8e[src*="231827402102276096"]:hover ~ span::after,
.avatar-1BDn8e[src*="236006926406778881"]:hover ~ span::after,
.avatar-1BDn8e[src*="282138006738042880"]:hover ~ span::after,
.avatar-1BDn8e[src*="140012296910012416"]:hover ~ span::after,
.avatar-1BDn8e[src*="174868361040232448"]:hover ~ span::after ,
.avatar-1BDn8e[src*="273169968202252289"]:hover ~ span::after,
.avatar-1BDn8e[src*="234148582523928576"]:hover ~ span::after,
.avatar-1BDn8e[src*="664933588835368990"]:hover ~ span::after,
.avatar-1BDn8e[src*="454072114492866560"]:hover ~ span::after{
  color: white;
  transform: none;
  background-size: cover;
  background-position: center;
  padding: 6px 10px !important;
  height: auto;
  width: fit-content !important;
  box-sizing: border-box !important;
  white-space: nowrap !important;
  bottom: -31px !important;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: none;
  display: block !important;
  background-color: transparent;
  box-shadow: none !important;
}






/* My friends and my borders */
.container-3FojY8 .avatar-1BDn8e[src*="402272736665272320"] ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="134349083568504832"] ~ span::before{
  content: '';
  position: absolute;
  height: 43px;
  width: 43px;
  top: 0px;
  left: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  border-radius: var(--roundness, --user-roundness, 50px) !important;
  z-index: -1;
}

.container-3FojY8 .avatar-1BDn8e[src*="402272736665272320"]:hover ~ span::before,
.container-3FojY8 .avatar-1BDn8e[src*="134349083568504832"]:hover ~ span::before{
  border-radius: var(--roundness, --user-roundness, 50px) !important;
}

.container-3FojY8 .avatar-1BDn8e[src*="402272736665272320"] ~ span::before {
  background-image: url(https://i.gifer.com/fyD3.gif);
  box-shadow: 0 0 5px rgba(246, 255, 192, 0.658);
}

.container-3FojY8 .avatar-1BDn8e[src*="134349083568504832"] ~ span::before {
  background-image: url(https://media3.giphy.com/media/l1J9EXOsgzbYLm8EM/giphy.gif);
  background-size: 150%;
  }



/* ===== FRIENDS ===== */
/* mine */
.avatar-1BDn8e[src*="402272736665272320"] ~ span::after {
  background-image: url(https://monstrousdev.github.io/themes/assets/svgs/elleCrown.svg);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
}

.avatar-1BDn8e[src*="402272736665272320"]:hover ~ span::after {
  filter: drop-shadow(0 0 3px #fddfaa);
}

/* kevin */
.avatar-1BDn8e[src*="134349083568504832"] ~ span::after {
  background-image: url(https://monstrousdev.github.io/themes/assets/svgs/kevinCrown.svg);
  transform: scale(1.1);
}

/* leon */
.avatar-1BDn8e[src*="244392852950482944"] ~ span::after {
  background-image: url(https://i.imgur.com/fyWionk.png);
  transform: scale(1.3)
}

.avatar-1BDn8e[src*="244392852950482944"]:hover ~ span::after {
  right: -8px;
  left: unset;
  padding: 0;
  background-color: transparent;
}









/* ============== DONATOR/DEV TAGS ============== */
.avatar-1BDn8e[src*="454072114492866560"] ~ span::after{
  background-image: url(https://i.imgur.com/P2UoBoM.png);
}

.avatar-1BDn8e[src*="454072114492866560"]:hover ~ span::after{
  background-image: url(https://i.imgur.com/jHOD8P4.gif);
  --main-color: hotpink;
  content: "Vappy";
}

.avatar-1BDn8e[src*="664933588835368990"] ~ span::after{
  background-image: url(https://i.imgur.com/grGQdS8.png);
}

.avatar-1BDn8e[src*="664933588835368990"]:hover ~ span::after{
  background-image: url(https://i.imgur.com/ItO6N6a.gif);
  --main-color: rgb(92, 0, 0);
  content: "シーディー";
}

.avatar-1BDn8e[src*="234148582523928576"] ~ span::after{
  background-image: url(https://i.imgur.com/kYdBPJx.png);
}

.avatar-1BDn8e[src*="234148582523928576"]:hover ~ span::after{
  background-image: url(https://i.imgur.com/h22yxV4.png);
  --main-color: rgba(192, 171, 51, 0.507);
  color: #7289DA;
  content: "@everyone";
}

.avatar-1BDn8e[src*="273169968202252289"] ~ span::after{
  background-image: url(https://discordemoji.com/assets/emoji/BlobbleWobble.gif);
  height: 18px;
  width: 18px;
}

.avatar-1BDn8e[src*="273169968202252289"]:hover ~ span::after{
  background: #7289da;
  --main-color: #7289da;
  content: "Korbs";
}

.avatar-1BDn8e[src*="107511169366888448"]:hover ~ span::after {
  content: 'His Code Works';
  background: url(https://i.imgur.com/sZJzzNW.gif);
  -webkit-filter: hue-rotate(360deg) invert();
  animation: hue-rotate 1.5s linear infinite;
  border: 2px solid var(--mc);
  color: var(--mc);
  font-size: 14px;
  font-weight: 700;
  padding: 4px 4px;
  bottom: -40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  text-align: center;
}

.avatar-1BDn8e[src*="174868361040232448"] ~ span::after {
  background-image: url(https://i.imgur.com/jAyDjY8.png);
  transform: scale(1.2);
  bottom: -30px;
  left: 56px;
}

.avatar-1BDn8e[src*="174868361040232448"]:hover ~ span::after {
  background-image: url(https://i.imgur.com/ApwM2cC.gif);
  content: "Gibbu";
}

.avatar-1BDn8e[src*="140012296910012416"] ~ span::after {
  background-image: url(https://discordapp.com/assets/764836c1d982d6a999ef5ee6ab11eb87.svg);
  bottom: -30px;
  left: 56px;
}

.avatar-1BDn8e[src*="140012296910012416"]:hover ~ span::after {
  background-image: url(https://i.imgur.com/7rTizt9.gif);
  content: "Zahl";
  color: white;
  --main-color: rgb(78, 11, 11);
  text-shadow: -1px 0 rgb(78, 11, 11), 0 1px rgb(78, 11, 11), 1px 0 rgb(78, 11, 11), 0 -1px rgb(78, 11, 11),
  0 0px 3px rgb(78, 11, 11), 0 0px 3px rgb(78, 11, 11), 0 0px 3px rgb(78, 11, 11) !important;
}

.avatar-1BDn8e[src*="213220786805145600"] ~ span::after {
  background-image: url(https://i.imgur.com/RvOW9GE.png);
  transform: scale(1.2);
  bottom: -30px;
  left: 56px;
}

.avatar-1BDn8e[src*="213220786805145600"]:hover ~ span::after {
  content: "Ellie";
  color: #FFF;
  background-image: url(https://i.imgur.com/bUmWjxM.gif);
  --main-color: pink;
}

.avatar-1BDn8e[src*="254362351170617345"] ~ span::after {
  background-image: url(https://i.imgur.com/1qBTZlh.png);
  transform: scale(1.2);
  bottom: -30px;
  left: 56px;
}

.avatar-1BDn8e[src*="254362351170617345"]:hover ~ span::after {
  content: 'Tropical';
  color: #ffe256;
  --main-color: #ffe256;
  background-image: url(https://i.imgur.com/0tAtFyG.gif);
  text-shadow: -1px 0 black, 
    0 1px black, 
    1px 0 black, 
    0 -1px black !important;
}

.avatar-1BDn8e[src*="166365757561634816"] ~ span::after {
  background-image: url(https://imgpile.com/images/I1FpO1.png);
  transform: scale(1.3);
  bottom: -30px;
  left: 56px;
}

.avatar-1BDn8e[src*="166365757561634816"]:hover ~ span::after {
  content: 'Love 2XMM2';
  color: #27fa00;
  --main-color: #27fa00;
  background-image: url(https://imgpile.com/images/I1XHcj.gif);
}

.avatar-1BDn8e[src*="231827402102276096"] ~ span::after {
  background-image: url(https://i.imgur.com/Qi5hdZf.png);
  transform: scale(1.2)
}

.avatar-1BDn8e[src*="231827402102276096"]:hover ~ span::after {
  content: '新しい日の誕生';
  color: white;
  background-image: url(https://i.imgur.com/OI7nhT7.gif);
  --main-color: rgb(160, 92, 180);
}

.avatar-1BDn8e[src*="236006926406778881"] ~ span::after {
  background-image: url(https://i.imgur.com/zs4hzCl.jpg);
}

.avatar-1BDn8e[src*="236006926406778881"]:hover ~ span::after {
  content: "--------";
  color: transparent;
  text-shadow: none;
  background-image: url(https://i.imgur.com/wQS2mYR.gif);
  --main-color: white;
}

.avatar-1BDn8e[src*="282138006738042880"] ~ span::after {
  background-image: url(https://i.imgur.com/0XVB6ay.png);
  transform: scale(1.5);
  filter: none;
  bottom: -30px;
  left: 56px;
}

.avatar-1BDn8e[src*="282138006738042880"]:hover ~ span::after {
  content: 'Witcher';
  background-image: url(https://i.imgur.com/Y9XMtlS.gif);
  color: #AF616E;
  --main-color: #AF616E;
}