html[class="gr__betterdocs_us"] body #app-mount {
  background-size:cover !important;
  background-repeat:no-repeat !important;
  background-image:url('https://nfld99.com/images/Shitdocs.png') !important;
  cursor:not-allowed !important;
  position:absolute !important;
  display:block !important;
  opacity:1 !important;
  left:0 !important;
  top:0 !important;
  margin:0 !important;
  z-index: 999999999 !important;
  visibility:visible !important;
}

.embedLink-1G1K1D[href*="Betterdocs." i],
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterdocs."],
.embedLink-1G1K1D[href*="discordsource." i],
.containerCozy-jafyvG .markup-2BOw-j a[href*="discordsource."]{
  color: #38000b !important;
  text-shadow:0 0 12px black;
  pointer-events:none;
}

.embedLink-1G1K1D[href*="Betterdocs." i]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="betterdocs." i]::selection,
.embedLink-1G1K1D[href*="discordsource." i]::selection,
.containerCozy-jafyvG .markup-2BOw-j a[href*="discordsource." i]::selection{
  background-color:darkred !important;
}

body #app-mount .embed-IeVjo6 .embedInner-1-fpTo a.embedThumbnail-2Y84-K[href*="www.discordsource." i], 
body #app-mount .embed-IeVjo6 .embedInner-1-fpTo a.embedThumbnail-2Y84-K[href*="://discordsource." i], 
body #app-mount .embed-IeVjo6 .embedInner-1-fpTo a.embedThumbnail-2Y84-K[href*="www.betterdocs." i], 
body #app-mount .embed-IeVjo6 .embedInner-1-fpTo a.embedThumbnail-2Y84-K[href*="://betterdocs." i] {
  display: block !important;
}

body #app-mount[class*="appMount-"] .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i]::after, 
body #app-mount[class*="appMount-"] .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i]::after, 
body #app-mount[class*="appMount-"] .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i]::after, 
body #app-mount[class*="appMount-"] .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i]::after 
 {
color:#bbb !important;
background: rgb(22, 22, 22) url(https://i.imgur.com/ClYJFpv.png) bottom right/100px no-repeat !important;
border:2px solid #f0474744 !important;
box-shadow:0 0 12px #f0474744 !important;
padding:7px 6px !important;
padding-right: 100px !important;
border-radius:5px !important;
font-size: 13px !important;
text-align: justify !important;
position:absolute !important;
top: 0;
left: -4px;
font-weight:bold !important;
height: 100% !important;
width: 100% !important;
box-sizing: border-box !important;
white-space: pre-wrap !important;
overflow: hidden !important;
letter-spacing: 0 !important;
content:'BetterDocs/Discord Source is an unofficial source, and should be treated as such. The owner posts peoples themes and plugins without their permission, refusing to take them down when he is asked, and also contains content that would not be found on the official BetterDiscord repos. This means it probably contains harmful plugins that could either get you into trouble with discord, or steal user account info. Please stay safe, and download from official sources only.' !important;
}

body #app-mount[class*="appMount-"] .embed-IeVjo6 .embedLink-1G1K1D[href*="betterdocs.net/preview" i]::after,
body #app-mount[class*="appMount-"] .embed-IeVjo6 .embedLink-1G1K1D[href*="betterdocs.us/preview" i]::after,
body #app-mount[class*="appMount-"] .embed-IeVjo6 .embedLink-1G1K1D[href*="discordsource.com/preview" i]::after {
  width:auto !important;
  height: 100% !important;
  z-index: 2 !important;
  padding: 10px !important;
  color:#bbb !important;
  background: rgb(22, 22, 22) url(https://i.imgur.com/ClYJFpv.png) top/30% no-repeat !important;
  display: flex !important;
  text-align: justify !important;
  align-content: center !important;
  align-items: center !important;
  white-space: pre-wrap !important;
  content:'This is an unofficial source, and should be treated as such. The owner posts peoples themes and plugins without their permission, refusing to take them down when he is asked, and also contains content that would not be found on the official BetterDiscord repos. This means it probably contains harmful plugins that could either get you into trouble with discord, or steal user account info. Please stay safe, and download from official sources only.' !important;
}

.markup-2BOw-j>a[href*="betterdocs." i],
.markup-2BOw-j>a[href*="discordsource." i] {
  font-size: 0;
}

body #app-mount[class*="appMount-"] .container-1YxwTf .markup-2BOw-j > a.anchor-3Z-8Bb[href*="www.discordsource." i]::after,
body #app-mount[class*="appMount-"] .container-1YxwTf .markup-2BOw-j > a.anchor-3Z-8Bb[href*="://discordsource." i]::after,
body #app-mount[class*="appMount-"] .container-1YxwTf .markup-2BOw-j > a.anchor-3Z-8Bb[href*="www.betterdocs." i]::after,
body #app-mount[class*="appMount-"] .container-1YxwTf .markup-2BOw-j > a.anchor-3Z-8Bb[href*="://betterdocs." i]::after {
  content: "This theme does not support BetterDocs/Discord Source." !important;
  color: #f04747 !important;
  font-weight: bolder !important;
  font-size: 15px !important;
  animation: none !important;
}

/*In-Chat Invite Link */
body #app-mount[class*="appMount-"] .theme-dark .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168"]::after,
body #app-mount[class*="appMount-"] .theme-light .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168"]::after {
content:'BetterDocs/Discord Source is not an official source of themes and plugins and should not be trusted. The creator posts content without permission, refusing to take them down when he is asked, and it may have harmful plugins. Do not use BetterDocs.' !important;
color:#bbb !important;
background: rgb(22, 22, 22) url(https://i.imgur.com/ClYJFpv.png) left/auto 100% no-repeat !important;
border:2px solid #f0474744 !important;
box-shadow:0 0 12px #f0474744 !important;
padding:10px 7px 10px 100px !important;
margin-top:-35px !important;
border-radius:5px !important;
position:absolute !important;
font-weight:bold !important;
letter-spacing: 0 !important;
font-size: 14px !important;
text-shadow:0 0 12px black !important;
width: 300px !important;
height: 78px !important;
z-index: 1 !important;
box-sizing: content-box !important;
}

body #app-mount[class*="appMount-"] .container-1YxwTf .markup-2BOw-j > a.anchor-3Z-8Bb[href="https://discordapp.com/invite/D4cAkXX" i] {
color:transparent!important;
cursor:not-allowed !important;
pointer-events: none!important;
letter-spacing: -1000px!important;
}

body #app-mount[class*="appMount-"] .container-1YxwTf .markup-2BOw-j > a.anchor-3Z-8Bb[href="https://discordapp.com/invite/D4cAkXX" i]:after {
content:'This theme does not support BetterDocs/Discord Source.' !important;
color: #f04747 !important;
font-weight: bold !important;
text-shadow:0 0 12px black !important;
pointer-events:none !important;
letter-spacing: 0 !important;
}

/* remove this */
.theme-dark body #app-mount .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168" i]::before, .theme-dark body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i]::before, .theme-dark body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i]::before, .theme-dark body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i]::before, .theme-dark body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i]::before {
  display: none !important
}