  /*
*   ===== BULK CODE CREDIT TO SATORU =====
*
*   Animation and refining made by Monster
*/

/* #app-mount .gameUpdates-2GPqBU {
  background-color: rgba(0, 0, 0, 0)
}

#app-mount .gameUpdates-2GPqBU .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--main-color)
}

#app-mount .gameLibrary-TTDw4Y {
  background-color: transparent
}

#app-mount .gameLibrary-TTDw4Y .table-1tDS6w {
  width: 100%;
  height: calc(100vh - 110px);
  border-top: 50px solid transparent;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  overflow-y: overlay;
  justify-content: center
}

#app-mount .gameLibrary-TTDw4Y .table-1tDS6w:only-child {
  margin: -10px
}

#app-mount .gameLibrary-TTDw4Y .table-1tDS6w::-webkit-scrollbar {
  display: none
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 {
  background: transparent;
  width: 100%;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  font-size: 1em;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1000
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 .headerCell-3L6rFG {
  width: auto;
  border: none;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 3px;
  padding: 5px;
  display: flex;
  text-transform: capitalize;
  flex: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 .headerCell-3L6rFG:nth-child(2) {
  margin: 0 10px
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 .headerCell-3L6rFG:nth-child(3) {
  min-width: 125px
}

#app-mount .gameLibrary-TTDw4Y .header-39GIC8 .headerCell-3L6rFG:last-child {
  display: none
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 {
  flex-direction: column;
  white-space: nowrap;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  left: 10px;
  width: 304px;
  height: 150px;
  margin: 8px;
  overflow: hidden;
  background: var(--primary-color);
  box-shadow: 0 0 8px 0 var(--shadow)
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f {
  background-color: var(--primary-color);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3)
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameBodyCell-3JOlnK {
  position: absolute;
  top: 50%;
  flex-flow: column;
  left: 0;
  transform: translate(0, -51%) translateZ(0);
  z-index: 1
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0:not(.rowWrapperActive-2L7i9f) .nameBodyCell-3JOlnK>* {
  flex-flow: column
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .row-ZLfFhY {
  min-height: 101%;
  border: none !important;
  margin: 0;
  display: flex;
  flex-flow: column;
  box-sizing: border-box
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .bodyCell-9xKjWE {
  min-width: 100%;
  top: 80px;
  padding: 0;
  line-height: normal;
  align-items: center;
  justify-content: center
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .bodyCell-9xKjWE>* {
  min-height: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameBodyCell-3JOlnK>* {
  align-items: center
}

#app-mount .nameCellText-1mpqtF {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameBodyCell-3JOlnK .nameCellInfo-11WjkQ,
.nameCellText-1mpqtF {
  max-width: 160px;
  text-shadow: 0 2px 5px #000
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .platformCell-XyBBs6,
#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .lastPlayedCell-2arbtc {
  min-height: 17px;
  max-height: 17px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .platformCell-XyBBs6>*,
#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .lastPlayedCell-2arbtc>* {
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameCellNew-3SokLB {
  color: #c034ff;
  font-size: .75rem;
  min-height: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .actionsCell-1awtNi {
  position: relative;
  left: 8px;
  top: 60px;
  visibility: hidden;
  animation: slidedown ease .6s;
  transition: visibility .4s ease
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .actionsCell-1awtNi {
  top: 25px;
  left: 10px;
  visibility: visible;
  animation: slideup .6s ease
}

#app-mount .gameLibrary-TTDw4Y .actionIcon-2EtGTr {
  opacity: 1
}

#app-mount .gameLibrary-TTDw4Y .settingIcons-3QYa5E {
  margin-right: 0;
  min-width: 10px
}

#app-mount .gameLibrary-TTDw4Y .buttonText-13IoY7 {
  padding: 2px 6px
}

#app-mount .gameLibrary-TTDw4Y .actionButtonSize-1Znp1q {
  height: 22px;
  min-width: 40px;
  left: 10px
}

#app-mount .gameLibrary-TTDw4Y .buttonWrapper-3hUFmE {
  height: 65%
}

#app-mount .gameLibrary-TTDw4Y .icon-1IKq3C,
#app-mount .gameLibrary-TTDw4Y .textCell-1aBIUP {
  color: #fff;
  background-image: linear-gradient(90deg, transparent, transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), transparent, transparent)
}

#app-mount .sideBar-2_lxpG .lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: rgba(99, 99, 99, 0.7);
  color: #fff;
  width: 0;
  left: 25px
}

#app-mount .sideBar-2_lxpG .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background-color: rgba(31, 154, 9, 0.7)
}

#app-mount .sideBar-2_lxpG .large-1DtyYQ {
  height: 90px;
  width: 90px
}

#app-mount .body-1SVoBw .carouselPagination-30iWH5 {
  width: 50%;
  left: 90px
}

#app-mount .gameName-1W6Ym- {
  color: #fff;
  font-size: 1em
}

#app-mount .publisher-2ZxPEd {
  border-bottom: none;
  color: #ddd
}

#app-mount .gamePreview-9weYR2 {
  background-color: rgba(0, 0, 0, 0.9)
}

#app-mount .body-1SVoBw {
  background-color: rgba(0, 0, 0, 0)
}

#app-mount .summary-2pfBY6 {
  color: rgb(246, 246, 247);
  background-color: rgba(0, 0, 0, 0.5)
}

#app-mount .news-2KwXHF,
#app-mount .newsLink-38Naqi:hover {
  background-color: rgba(0, 0, 0, 0)
}

#app-mount .background-3zYSQO,
#app-mount .overlay-n52Tzn {
  -webkit-mask: none;
  mask: none
}

#app-mount .background-3zYSQO {
  height: 100%;
  opacity: .8
}

#app-mount .body-3NySJS {
  text-shadow: 1px 1px 5px #000
}

.subtitle-rPfx7J,
.title-1oZsbs,
.description-13oVu5 {
  color: #eee
}

.gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .row-ZLfFhY {
  background: rgba(0, 0, 0, 0.7) !important;
}


#app-mount .gameLibrary-TTDw4Y .rowBackground-3MeNoN {
  filter: none;
  -webkit-mask: none;
  width: 304px;
  animation: backgroundIn .5s forwards !important;
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .nameBodyCell-3JOlnK .nameCellInfo-11WjkQ {
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: -52px;
  transition: all .4s ease-in-out;
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .nameBodyCell-3JOlnK .nameCellInfo-11WjkQ {
  bottom: -60px;
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 .gameIcon-gg34Dz {
  position: absolute;
  top: -25px;
  height: 50px;
  width: 50px;
  background-size: 100%;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
  transform: translateX(0);
  transition: all .4s ease-in-out;
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .gameIcon-gg34Dz {
  transform: translateX(-150%);
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .settingIcons-3QYa5E {
  transform: translateY(-180%);
}

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f .actionButtonSize-1Znp1q {
  transform: translateY(-170%);
}

@keyframes slideup {
  from {
    transform: translate(0, 100%)
  }
}

@keyframes slidedown {
  from {
    transform: translate(0%, -30%)
  }
}

@keyframes backgroundIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
} */