/* popin with pulse */
.wrapper-3t9DeA[user_by_bdfdb*="254362351170617345"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb*="172426681800196096"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb*="96563253466898432"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb*="252460828157018112"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="316563263179456513"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="150967530075324416"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="234148582523928576"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="251465413995528194"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="227648235097817089"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="210629330135547904"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="143017752775360512"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="82987644316815360"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="166365757561634816"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="324680910123302922"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="213220786805145600"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb*="336678828233588736"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="531614184526577675"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="433698341008965633"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="498444458845536257"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="312782599439515650"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="152430800241950720"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="438846426441711616"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="263631800021155840"]:hover::before {
  animation: mentionpulse 1.5s infinite, popoutanim .2s;
}


/* popin */
.wrapper-3t9DeA[user_by_bdfdb*="131414719666847745"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="147889058670968844"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="498444458845536257"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="197477050569719808"]:hover::before {
  animation: popoutanim .2s;
}

/* fall and bounce */
.wrapper-3t9DeA[user_by_bdfdb*="282138006738042880"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb*="244392852950482944"]:hover::before {
  animation: fallBounce 1s;
}

/* spin in */
.wrapper-3t9DeA[user_by_bdfdb*="173177738914562048"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb*="130875493850284032"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb*="519790100956184586"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="96563253466898432"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb*="422110084039180318"]:hover::before {
  animation: scaleSpin .4s;
}

/* fade from right */
.wrapper-3t9DeA[user_by_bdfdb*="244363360886325248"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb*="296018550009626628"]:hover::before {
  animation: fadeFromRight .2s;
}



/* ---- keyframes ---- */
@keyframes fallBounce { /* 1s */
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  25% {
    opacity: 1;
    transform: translateY(0) scale(1.1, 0.9);
  }
  50% {
    transform: translateY(-20%) scale(0.9, 1.1);
  }
  75% {
    transform: translateY(0)
  }
}

@keyframes scaleSpin { /* .4s */
  from {
    transform: scale(0) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0);
  }
}

@keyframes popoutanim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeFromRight {
  0% {
      opacity: 0;
      transform: translateX(50%)
  }
  100% {
      opacity: 0.9;
      transform: none
  }
}

@-webkit-keyframes mentionpulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--main-color);
  }
  70% {
    -webkit-box-shadow: 0 0 0 5px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}