
:root {
  --list-size: 140px;
}

/*Two column server list*/
.wrapper-1Rf91z {
  width: 140px;
 }

 .base-2jDfDU {
   left: 140px;
 }
 
.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN::-webkit-scrollbar {
  background: transparent !important; 
  border: 0px !important;
  width: 0px;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv {
  width:140px !important;
 }

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN div[data-ref-id="guildsnav"],
#app-mount .wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN {
  display: flex !important;
  flex-direction: row !important;
  flex-flow: row wrap !important;
  justify-content: center;
  padding-left: 0 !important;
  align-content: flex-start;
  width: 140px;
  margin-bottom: 4px;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN div[data-ref-id="guildsnav"] .listItem-2P_4kh,
.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN div[data-ref-id="guildsnav"] .wrapper-21YSNc {
  width: 60px;
  margin: 2px 0;
}

#app-mount .wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .tutorialContainer-SGrQ1h .listItem-2P_4kh,
#app-mount .wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .listItem-2P_4kh:last-child {
  width: 60px;
  margin: 2px 0;
}

#app-mount .wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .tutorialContainer-1v44GL:nth-child(1) {
  top: 0;
  height: 46px !important;
  width: 143px !important;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
}

#app-mount [id*='folder-items'] {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 10px;
}

#app-mount .expandedFolderBackground-2sPsd- {
  left: 0px;
  width: 60px;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN > div:not(.guildSeparator-3s64Iy):not(.friendsOnline-2JkivW):not(.container-1ETFDs).wrapper-21YSNc .listItem-2P_4kh {
  width: 100%;
}

div[style*="transform: scale(1)"] .pill-1m5BUr {
  display: none;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .item-2LIpTv {
 background-color: var(--main-color, #7289da);
 box-shadow: none;
 height: 10px !important;
 width: 10px;
 top: 0px;
 left: 0px;
 margin-top: 0px !important;
 border-radius: 50% !important;
 pointer-events: none;
 transition: background-color 200ms ease-in-out, height 200ms ease-in-out, width 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .listItem-2P_4kh:hover .item-2LIpTv {
 background-color: #ccc !important;
 box-shadow: 0 0 20px #ccc !important;
 opacity: 1 !important;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .listItem-2P_4kh .pill-31IEus {
  overflow: visible;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .listItem-2P_4kh .item-2LIpTv[style*="height: 40px"] {
 height: 48px !important;
 width: 48px;
 border-radius: var(--roundness, 50px) !important;
 background-color: transparent;
 border: 2px solid #ccc;
 left: 8px;
 top: -2px;
}

#bd-pub-li {
  position: inherit;
  top: 0;
  left: 0;
  margin-right: 50px;
  margin-left: 40px;
}

#bd-pub-li #bd-pub-button {
  position: relative;
  width: 100%;
  text-align: center;
}

#app-mount .tutorialContainer-1v44GL + .listItem-2P_4kh, 
.guildSeparator-3s64Iy {
  display: none !important;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .friendsOnline-2JkivW {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 33px;
}

#app-mount .wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .container-2td-dC.selected-nT-gM3:before {
 height: 100%;
 width: 100%;
 margin-top: 0;
 border: 2px solid var(--main-color, #7289da);
 background: transparent;
 box-sizing: border-box;
 border-radius: var(--roundness, 50px);
}

#app-mount .wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN .container-2td-dC.selected-nT-gM3:hover:before {
 height: 100%;
 width: 100%;
 margin-top: 0;
 border: 2px solid var(--main-color, #7289da);
 background: transparent;
 box-sizing: border-box;
 border-radius: var(--roundness, 50px);
}

.guildsWrapper-5TJh6A,
.wrapper-1Rf91z {
  z-index: 6;
}

#app-mount .wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN {
  padding: 0px 0 20px 0 !important;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv .scroller-2TZvBN>.listItem-2P_4kh:first-child {
  margin-top: -58px !important;
  position: absolute;
  z-index: 2;
  height: 46px;
  margin-left: -2px !important;
  width: 143px !important;
}