@charset "UTF-8";
@import "https://monstrousdev.github.io/themes/addons/donator-tags.css";
@import "https://monstrousdev.github.io/themes/addons/tag-animations.css";

:root {
  --mc: var(--main-color);
}

#app-mount .avatar-1BDn8e + h2 {
  overflow: visible;
}

.avatar-1BDn8e:hover + h2 {
  opacity: 1;
}

.chat-3bRxxu>.content-yTz4x3 .messages-3amgkR .containerCozy-jafyvG,
.container-3FojY8 {
  overflow: visible;
}

.avatar-1BDn8e + h2::after {
  color: var(--main-color, var(--mc, rgb(var(--BG-tint-colour, 114, 137, 218))));
  font-size: 13px;
  position: absolute;
  bottom: -23px;
  left: -29px;
  border-radius: 2px;
  cursor: pointer;
  font-family: BMTicons;
  pointer-events: none;
  display: inline-block !important;
  z-index: 1;
}

.avatar-1BDn8e:hover + h2::after {
  font-family: "Whitney", "Helvetica";
  --main-color: #000;
  background-color: var(--main-color);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 3px 10px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  z-index: 3000000;
  display: block;
  position: absolute;
  pointer-events: none;
  color: #fff;
  width: auto;
  opacity: 1;
  box-sizing: border-box;
  white-space: nowrap;
  bottom: -31px;
}

#app-mount .messagesPopoutWrap-1MQ1bW .avatar-1BDn8e+ h2::after{
  display: none !important;
}


/* ========= START OF USER TAGS ============== */

  /* before hover */
.avatar-1BDn8e[src*="111476801762537472"] + h2::after,
.avatar-1BDn8e[src*="107511169366888448"] + h2::after,
.avatar-1BDn8e[src*="118580050458181632"] + h2::after,
.avatar-1BDn8e[src*="128948605263413248"] + h2::after,
.avatar-1BDn8e[src*="135824276535115776"] + h2::after,
.avatar-1BDn8e[src*="179608420809310208"] + h2::after,
.avatar-1BDn8e[src*="443765978132643850"] + h2::after,
.avatar-1BDn8e[src*="96563253466898432"] + h2::after,
.avatar-1BDn8e[src*="150967530075324416"] + h2::after,
.avatar-1BDn8e[src*="120721814837002240"] + h2::after,
.avatar-1BDn8e[src*="227648235097817089"] + h2::after,
.avatar-1BDn8e[src*="219078125974192128"] + h2::after,
.avatar-1BDn8e[src*="438846426441711616"] + h2::after,
.avatar-1BDn8e[src*="142110824507506688"] + h2::after,
.avatar-1BDn8e[src*="230714365869817857"] + h2::after,
.avatar-1BDn8e[src*="267803219080642560"] + h2::after,
.avatar-1BDn8e[src*="194830015353847817"] + h2::after,
.avatar-1BDn8e[src*="460174770957189155"] + h2::after{
  content: "}";
}


  /* on hover */
.avatar-1BDn8e[src*="194830015353847817"]:hover + h2::after {
  content: 'Cheesus';
  --main-color: #51007a;
}

.avatar-1BDn8e[src*="460174770957189155"]:hover + h2::after {
  content: 'Currently dying rn';
  --main-color: #008080;
}

.avatar-1BDn8e[src*="267803219080642560"]:hover + h2::after {
  content: "CEO of Red";
  --main-color: #cc2c24;
}

.avatar-1BDn8e[src*="111476801762537472"]:hover + h2::after {
  content: "Shiroyasha";
}

.avatar-1BDn8e[src*="230714365869817857"]:hover + h2::after {
  content: "The Changeling";
  --main-color: #15e61c;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.avatar-1BDn8e[src*="142110824507506688"]:hover + h2::after {
  content: "Piixel";
  --main-color: #b8efd0;
  color: black;
}

.avatar-1BDn8e[src*="118580050458181632"]:hover + h2::after {
  content: "말보다는 행동이지";
}

.avatar-1BDn8e[src*="128948605263413248"]:hover + h2::after {
  content: "Dongus";
}

.avatar-1BDn8e[src*="135824276535115776"]:hover + h2::after {
  content: "Village Idiot";
}

.avatar-1BDn8e[src*="179608420809310208"]:hover + h2::after {
  content: "dragon";
  --main-color: #efb8cc;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.avatar-1BDn8e[src*="443765978132643850"]:hover + h2::after {
  content: "NEET";
  --main-color: #3ecc9c;
}

.avatar-1BDn8e[src*="438846426441711616"]:hover + h2::after {
  content: "Aple";
  --main-color: #4BCEFF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.avatar-1BDn8e[src*="219078125974192128"]:hover + h2::after {
  content: "Voluptuous";
  --main-color: #6f182a;
}

.avatar-1BDn8e[src*="96563253466898432"]:hover + h2::after {
  content: "Universal Architect";
}

.avatar-1BDn8e[src*="150967530075324416"]:hover + h2::after {
  content: "Atom";
}

.avatar-1BDn8e[src*="120721814837002240"]:hover + h2::after {
	content: "Selfmade";
  --main-color: #ff0055;
}

.avatar-1BDn8e[src*="227648235097817089"]:hover + h2::after {
  content: "SlimeKing";
  --main-color: #5ae5ed;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate();
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}


@font-face {
  font-family: "BMTicons";
  src: url(data:application/font-ttf;charset=utf-8;base64,AAEAAAAKAIAAAwAgT1MvMla2Y3AAAAEoAAAAVmNtYXAQShLtAAABrAAAAVpnbHlmvloizQAAAyAAAAUoaGVhZA5/bb8AAADQAAAANmhoZWEIZgQEAAAArAAAACRobXR4LAAAAAAAAYAAAAAsbG9jYQX0B2AAAAMIAAAAGG1heHABGABQAAABCAAAACBuYW1l01mGtgAACEgAAAJtcG9zdAU1BSMAAAq4AAAARAABAAAEAAAAAFwEAAAA//gECAABAAAAAAAAAAAAAAAAAAAACwABAAAAAQAAFeNF+F8PPPUACwQAAAAAANWslGEAAAAA1ayUYQAAAAAECAQAAAAACAACAAAAAAAAAAEAAAALAEQAAwAAAAAAAgAAAAoACgAAAP8AAAAAAAAAAQQAAZAABQAIAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABAAEIAfgQAAAAAXAQAAAAAAAABAAAAAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAAAAADAAAAAwAAABwAAQAAAAAAVAADAAEAAAAcAAQAOAAAAAoACAACAAIAAABEAGAAfv//AAAAAABCAF4Ae///AAD/v/+m/4wAAQAAAAAAAAAAAAAAAAEGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAgMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAUGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHCAkKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACwAbACwAPABHAFgAaoCEAJSApQAAQAAAAAEAAPXABcAACUmLwEmAic+ATceARc+ATceARcGAg8BMAIABSAlyeoDA555Q3grK3hDeZ4DA+rJSisEHSKwARGNep0DATgxMTgBA516jf7vsEMAAAMAAAAABAAEAAANABsAIwAAAQYABxYAFzYANyYAJzAXDgEHHgEXPgE3LgEnMAEyOwERIxEwAgDa/t8FBQEh2toBIQUF/t/ablp5AgJ5Wlt4AgJ4W/6EBy00aAQABf7f2tr+3wUFASHa2gEhBeMDeFtaeQICeVpbeAP9xwI5/ccAAgAAAAAEAAQAAA0AJQAAAQYABxYAFzYANyYAJzARJi8BLgEnPgE3MhYXPgEzHgEXDgEPATACANr+3wUFASHa2gEhBQX+39oDFBh+lQECY00qTBsbTCpNYwIBlX4vBAAF/t/a2v7fBQUBIdraASEF/LsCExVvrVlNYwIkHx8kAmNNWa1vKgAAAAMAAAAABAAEAAANABsAIwAAAQYABxYAFzYANyYAJzAXHgEXDgEHLgEnPgE3MAEiKwERMxEwAgDa/t8FBQEh2toBIQUF/t/ablp5AgJ5Wlt4AgJ4W/7sBi40aAQABf7f2tr+3wUFASHa2gEhBeMDeFtaeQICeVpbeAP9xwI5/ccAAQAAAAAEAAPXABcAACUmLwEmAic+ATceARc+ATceARcGAg8BMAIABSAlyeoDA555Q3grK3hDeZ4DA+rJSisEHSKwARGNep0DATgxMTgBA516jf7vsEMAAAIAAAAABAAEAAANACUAAAEGAAcWABc2ADcmACcwESYvAS4BJz4BNzIWFz4BMx4BFw4BDwEwAgDa/t8FBQEh2toBIQUF/t/aAxQYfpUBAmNNKkwbG0wqTWMCAZV+LwQABf7f2tr+3wUFASHa2gEhBfy7AhMVb61ZTWMCJB8fJAJjTVmtbyoAAAACAAAAAAQABAAADQAqAAABBgAHFgAXNgA3JgAnMBcWHwIeAQ8BFxYGLwEHBiY/AScmNj8CNjIXMAIA2v7fBQUBIdraASEFBf7f2hsGKC21FwkPfBQCGRWoqBUZAhR8DwkXtVsMHgwEAAX+39ra/t8FBQEh2toBIQXDCkZQJgUdEYm3FxIJTEwJEhe3iREdBSagFBQAAwAAAAAECAOcAC0AOwBDAAABLgEnIQ4BFBYXMx4BBwYrASIGFRQWOwEeAQcwMQ4BKwEiDgEWFzMeARc+AScwAS4BJz4BNx4BFw4BBzA3Bg8BIyc3MwP/Duql/msbKCYdMxQSDAcT0RMbGBaJERYFAxINRBEdARsUXRTgnbjtCP5nYoEDA4FiZoIDA4JmqwUkKKtRUasCJaPQBAEmOyYBASERDRgXER0BFxMNERsoGgGdygMO+rj+9wOCZmWDAgKDZWaCA+sJQEiRkQAAAgAAAAAEAAQAAA0AJQAAAQYABxYAFzYANyYAJzABBg8CBiIvAiY0PwI2Mh8CFhQHMAIA2v7fBQUBIdraASEFBf7f2gFqDmBuYw85DmPcHBzcYw84D2PcHBwEAAX+39ra/t8FBQEh2toBIQX91QYrMtwcHNxjDzgPY9wcHNxjDzgPAAAAAgAAAAAEAAQAAA0AJQAAAQYABxYAFzYANyYAJzATBg8CBiIvAiY0PwI2Mh8CFhQHMAIA2v7fBQUBIdraASEFBf7f2v0JRE1FCigKRZoUFJpFCigKRZoUFAQABf7f2tr+3wUFASHa2gEhBf3iBR4imhQUmkUKKApFmhQUmkUKKAoAAAAAAAASAN4AAQAAAAAAAAAVAAAAAQAAAAAAAQAIABUAAQAAAAAAAgAHAB0AAQAAAAAAAwAIACQAAQAAAAAABAAIACwAAQAAAAAABQALADQAAQAAAAAABgAIAD8AAQAAAAAACgArAEcAAQAAAAAACwATAHIAAwABBAkAAAAqAIUAAwABBAkAAQAQAK8AAwABBAkAAgAOAL8AAwABBAkAAwAQAM0AAwABBAkABAAQAN0AAwABBAkABQAWAO0AAwABBAkABgAQAQMAAwABBAkACgBWARMAAwABBAkACwAmAWlHZW5lcmF0ZWQgYnkgR2x5cGh0ZXJCTVRpY29uc1JlZ3VsYXJCTVRpY29uc0JNVGljb25zVmVyc2lvbiAxLjBCTVRpY29uc0dlbmVyYXRlZCBieSBzdmcydHRmIGZyb20gRm9udGVsbG8gcHJvamVjdC5odHRwOi8vZm9udGVsbG8uY29tAEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAARwBsAHkAcABoAHQAZQByAEIATQBUAGkAYwBvAG4AcwBSAGUAZwB1AGwAYQByAEIATQBUAGkAYwBvAG4AcwBCAE0AVABpAGMAbwBuAHMAVgBlAHIAcwBpAG8AbgAgADEALgAwAEIATQBUAGkAYwBvAG4AcwBHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAHMAdgBnADIAdAB0AGYAIABmAHIAbwBtACAARgBvAG4AdABlAGwAbABvACAAcAByAG8AagBlAGMAdAAuAGgAdAB0AHAAOgAvAC8AZgBvAG4AdABlAGwAbABvAC4AYwBvAG0AAAAAAgAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALAAABAgEDAQQBBQEGAQcBCAEJAQoBCwAAAAAAAAAAAAAAAA==) format("truetype");
}