/* ======= SPECIAL TAGS ========= */

/* Green's Zelda Triangle */

.wrapper-3t9DeA[user_by_bdfdb="214318588331294720"]::before {
  content: '';
  background-image: url(https://i.imgur.com/tsr97cA.gif);
  background-size: 21px;
  background-repeat: no-repeat;
}




/* badges */
.wrapper-3t9DeA[user_by_bdfdb="214318588331294720"]::before,
.wrapper-3t9DeA[user_by_bdfdb="116243287936860167"]::before,
.wrapper-3t9DeA[user_by_bdfdb="173177738914562048"]::before,
.wrapper-3t9DeA[user_by_bdfdb="185119357578379264"]::before,
.wrapper-3t9DeA[user_by_bdfdb="96563253466898432"]::before,
.wrapper-3t9DeA[user_by_bdfdb="172426681800196096"]::before,
.wrapper-3t9DeA[user_by_bdfdb="130875493850284032"]::before,
.wrapper-3t9DeA[user_by_bdfdb="244363360886325248"]::before,
.wrapper-3t9DeA[user_by_bdfdb="123916078882488320"]::before,
.wrapper-3t9DeA[user_by_bdfdb="215036395507548161"]::before,
.wrapper-3t9DeA[user_by_bdfdb="296018550009626628"]::before,
.wrapper-3t9DeA[user_by_bdfdb="519790100956184586"]::before,
.wrapper-3t9DeA[user_by_bdfdb="144550650842316800"]::before,
.wrapper-3t9DeA[user_by_bdfdb="252460828157018112"]::before,
.wrapper-3t9DeA[user_by_bdfdb="316563263179456513"]::before,
.wrapper-3t9DeA[user_by_bdfdb="150967530075324416"]::before,
.wrapper-3t9DeA[user_by_bdfdb="498444458845536257"]::before,
.wrapper-3t9DeA[user_by_bdfdb="234148582523928576"]::before,
.wrapper-3t9DeA[user_by_bdfdb="147889058670968844"]::before,
.wrapper-3t9DeA[user_by_bdfdb="251465413995528194"]::before,
.wrapper-3t9DeA[user_by_bdfdb="120721814837002240"]::before,
.wrapper-3t9DeA[user_by_bdfdb="227648235097817089"]::before,
.wrapper-3t9DeA[user_by_bdfdb="210629330135547904"]::before,
.wrapper-3t9DeA[user_by_bdfdb="211376467114852352"]::before,
.wrapper-3t9DeA[user_by_bdfdb="143017752775360512"]::before,
.wrapper-3t9DeA[user_by_bdfdb="82987644316815360"]::before,
.wrapper-3t9DeA[user_by_bdfdb="324680910123302922"]::before,
.wrapper-3t9DeA[user_by_bdfdb="324680910123302922"]::before,
.wrapper-3t9DeA[user_by_bdfdb="422110084039180318"]::before,
.wrapper-3t9DeA[user_by_bdfdb="336678828233588736"]::before,
.wrapper-3t9DeA[user_by_bdfdb="433698341008965633"]::before,
.wrapper-3t9DeA[user_by_bdfdb="219078125974192128"]::before,
.wrapper-3t9DeA[user_by_bdfdb="131414719666847745"]::before,
.wrapper-3t9DeA[user_by_bdfdb="527971799770857512"]::before,
.wrapper-3t9DeA[user_by_bdfdb="531614184526577675"]::before,
.wrapper-3t9DeA[user_by_bdfdb="257055153272782848"]::before,
.wrapper-3t9DeA[user_by_bdfdb="368562259225608193"]::before,
.wrapper-3t9DeA[user_by_bdfdb="312782599439515650"]::before,
.wrapper-3t9DeA[user_by_bdfdb="197477050569719808"]::before,
.wrapper-3t9DeA[user_by_bdfdb="438846426441711616"]::before,
.wrapper-3t9DeA[user_by_bdfdb="152430800241950720"]::before,
.wrapper-3t9DeA[user_by_bdfdb="263631800021155840"]::before,
.wrapper-3t9DeA[user_by_bdfdb="95657348390977536"]::before,
.wrapper-3t9DeA[user_by_bdfdb="304260051915374603"]::before,
.wrapper-3t9DeA[user_by_bdfdb="280447836007694338"]::before,
.wrapper-3t9DeA[user_by_bdfdb="331191382792208385"]::before {
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -8px;
  right: -8px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}


/* icons */
.wrapper-3t9DeA[user_by_bdfdb="331191382792208385"]::before {
  background-image: url(https://i.imgur.com/nInH9PN.png);
}

.wrapper-3t9DeA[user_by_bdfdb="280447836007694338"]::before {
  background-image: url(https://discordapp.com/assets/eb2086bb1a6861d1c3eb6e8b2dd29ee8.svg);
}

.wrapper-3t9DeA[user_by_bdfdb="169081145282002946"]::before {
  background-image: url(https://i.imgur.com/2Zh2BCw.png);
  transform: scale(1.3);
  bottom: -5px;
  right: -5px;
}

.wrapper-3t9DeA[user_by_bdfdb="304260051915374603"]::before {
  background-image: url(https://i.imgur.com/exAFNJf.png);
}

.wrapper-3t9DeA[user_by_bdfdb="95657348390977536"]::before {
  background-image: url(https://i.imgur.com/zoGSit7.png);
  transform: scale(1.7);
  bottom: -5px;
  right: -5px;
}

.wrapper-3t9DeA[user_by_bdfdb="263631800021155840"]::before {
  background-image: url(https://i.imgur.com/GGVPa7r.png);
  transform: scale(1.3);
  bottom: -5px;
  right: -5px;
}

.wrapper-3t9DeA[user_by_bdfdb="152430800241950720"]::before {
  background-image: url(https://i.imgur.com/Dk87ihB.png);
  transform: scale(1.3);
  bottom: -5px;
  right: -5px;
}

.wrapper-3t9DeA[user_by_bdfdb="438846426441711616"]::before {
  background-image: url(https://i.imgur.com/UlLGxAU.png);
  transform: scale(1.5)
}

.wrapper-3t9DeA[user_by_bdfdb="197477050569719808"]::before {
  background-image: url(https://i.imgur.com/WV8GXS1.png);
  transform: scale(1.3);
}

.wrapper-3t9DeA[user_by_bdfdb="312782599439515650"]::before {
  background-image: url(https://i.imgur.com/NKuhfAl.png);
  transform: scale(1.3);
}

.wrapper-3t9DeA[user_by_bdfdb="368562259225608193"]::before {
  background-image: url(https://png.pngtree.com/svg/20150903/c2853b769f.svg);
  transform: scale(1.2);
}

.wrapper-3t9DeA[user_by_bdfdb="257055153272782848"]::before {
  background-image: url(https://i.imgur.com/Biwmcj8.png);
}

.wrapper-3t9DeA[user_by_bdfdb="531614184526577675"]::before {
  background-image: url(https://i.imgur.com/lq0eEUg.png);
  transform: scale(1.6)
}

.wrapper-3t9DeA[user_by_bdfdb="527971799770857512"]::before {
  background-image: url(https://i4.wampi.ru/2019/04/03/x_97d1f05058de9bcae6c62a5a.jpg);
}

.wrapper-3t9DeA[user_by_bdfdb="131414719666847745"]::before {
  background-image: url(https://m.kyaa.sg/32QVjBjF.png);
}

.wrapper-3t9DeA[user_by_bdfdb="219078125974192128"]::before {
  background-image: url(https://i.imgur.com/Y5GmNDn.png);
}

.wrapper-3t9DeA[user_by_bdfdb="433698341008965633"]::before {
  background-image: url(https://i.imgur.com/sVUFLd0.png);
  transform: scale(1.3);
  filter: drop-shadow(0 0 2px white);
}

.wrapper-3t9DeA[user_by_bdfdb="336678828233588736"]::before {
  background-image: url(https://i.imgur.com/CHPjhVw.png);
}

.wrapper-3t9DeA[user_by_bdfdb="214318588331294720"]::before {
  background-image: url(https://i.imgur.com/tsr97cA.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="173177738914562048"]::before {
  background-image: url(https://i.imgur.com/Usr3iq3.png);
  filter: none;
}

.wrapper-3t9DeA[user_by_bdfdb="116243287936860167"]::before {
  height: 20px;
  width: 20px;
  background-image: url(https://i.imgur.com/5zJxSbe.png);
  bottom: -8px;
  right: -8px;
  filter: none;
  transition: filter .2s ease-in-out;
}

.wrapper-3t9DeA[user_by_bdfdb="185119357578379264"]::before {
  background-image: url(https://i.imgur.com/QNLoSKa.png);
}

.wrapper-3t9DeA[user_by_bdfdb="96563253466898432"]::before {
  background-image: url(https://i.imgur.com/hFkznNm.png);
  transform: scale(1.5);
}

.wrapper-3t9DeA[user_by_bdfdb="172426681800196096"]::before {
  background-image: url(https://i.imgur.com/fDvGKIB.gif);
  transform: scale(1.3);
}

.wrapper-3t9DeA[user_by_bdfdb="130875493850284032"]::before {
  background-image: url(https://i.imgur.com/PdG3hPR.png);
  transform: scale(1.2);
}

.wrapper-3t9DeA[user_by_bdfdb="244363360886325248"]::before {
  background-image: url(https://i.imgur.com/jKPrgWG.jpg);
}

.wrapper-3t9DeA[user_by_bdfdb="123916078882488320"]::before {
  background-image: url(https://i.imgur.com/xdDn4cO.png);
  transform: scale(1.5);
}

.wrapper-3t9DeA[user_by_bdfdb="215036395507548161"]::before {
  background-image: url(https://i.imgur.com/uw05pdX.png);
  transform: scale(1.5);
}

.wrapper-3t9DeA[user_by_bdfdb="296018550009626628"]::before {
  background-image: url(https://i.imgur.com/R9uIVMg.png);
}

.wrapper-3t9DeA[user_by_bdfdb="519790100956184586"]::before {
  background-image: url(https://i.imgur.com/Yp4aTR1.png);
}

.wrapper-3t9DeA[user_by_bdfdb="144550650842316800"]::before {
  background-image: url(https://files.division25.xyz/CSS/FloridaMayhem.png);
}

.wrapper-3t9DeA[user_by_bdfdb="252460828157018112"]::before {
  background-image: url(https://i.imgur.com/B9MYYAA.png);
  transform: scale(1.4);
  bottom: -5px;
  right: -5px;
  filter: none;
}

.wrapper-3t9DeA[user_by_bdfdb="316563263179456513"]::before {
  background-image: url(https://cdn.discordapp.com/attachments/535251077570756628/535255492176510996/twitchicon.png);
  transform: scale(1.2);
  bottom: -5px;
  right: -5px;
}

.wrapper-3t9DeA[user_by_bdfdb="150967530075324416"]::before {
  background-image: url(https://i.imgur.com/qI52BEw.png);
  transform: scale(1.1);
  bottom: -5px;
  right: -5px;
}

.wrapper-3t9DeA[user_by_bdfdb="498444458845536257"]::before {
  background-image: url(https://i.imgur.com/XmpW4Ir.png);
}

.wrapper-3t9DeA[user_by_bdfdb="234148582523928576"]::before {
  background-image: url(https://i.imgur.com/WEuObnM.png);
}

.wrapper-3t9DeA[user_by_bdfdb="147889058670968844"]::before {
  background-image: url(https://i.imgur.com/ki2KXQm.jpg);
  transform: scale(1.2);
  bottom: -6px;
  right: -6px;
}

.wrapper-3t9DeA[user_by_bdfdb="251465413995528194"]::before {
  background-image: url(https://i.imgur.com/jESaI6n.png);
}

.wrapper-3t9DeA[user_by_bdfdb="120721814837002240"]::before {
  background-image: url(https://i.imgur.com/ibJGWda.png);
}

.wrapper-3t9DeA[user_by_bdfdb="227648235097817089"]::before {
  background-image: url(https://i.imgur.com/h2rYnJ0.png);
  transform: scale(1.1);
}

.wrapper-3t9DeA[user_by_bdfdb="210629330135547904"]::before {
  background-image: url(https://i.imgur.com/0zSPxmN.png);
  transform: scale(1.3)
}

.wrapper-3t9DeA[user_by_bdfdb="211376467114852352"]::before {
  background-image: url(https://i.imgur.com/nRY1DNy.png);
}

.wrapper-3t9DeA[user_by_bdfdb="143017752775360512"]::before {
  background-image: url(https://i.imgur.com/MYhbl5K.png);
  transform: scale(2.5);
}

.wrapper-3t9DeA[user_by_bdfdb="82987644316815360"]::before {
  background-image: url(https://i.imgur.com/JT5Dz6z.png);
}

.wrapper-3t9DeA[user_by_bdfdb="324680910123302922"]::before {
  background-image: url(https://i.imgur.com/zOaLzjM.png);
  transform: scale(1.3)
}

.wrapper-3t9DeA[user_by_bdfdb="422110084039180318"]::before {
  background-image: url(https://i.imgur.com/y5F1rEf.png);
  transform: scale(1.3)
}


/* on hover */
  /* green */
.wrapper-3t9DeA[user_by_bdfdb="214318588331294720"]:hover::before {
  content: "GREEN?";
  background: url(https://i.imgur.com/sZJzzNW.gif);
  color: #fff;
  left: -2px;
  bottom: -20px;
  background-size: cover;
  background-position: center;
  width: calc(100% + 4px);
  font-size:11px;
  font-weight: 700;
  padding: 2px 2px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}





/* badges on hover */
.wrapper-3t9DeA[user_by_bdfdb="173177738914562048"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="185119357578379264"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="96563253466898432"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="172426681800196096"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="130875493850284032"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb="244363360886325248"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="123916078882488320"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="215036395507548161"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="296018550009626628"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="519790100956184586"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="144550650842316800"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="252460828157018112"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="316563263179456513"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="150967530075324416"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="498444458845536257"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="234148582523928576"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="147889058670968844"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="251465413995528194"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="120721814837002240"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="227648235097817089"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="210629330135547904"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="211376467114852352"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="143017752775360512"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="82987644316815360"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="324680910123302922"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="422110084039180318"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="336678828233588736"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="433698341008965633"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="219078125974192128"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="131414719666847745"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="527971799770857512"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="531614184526577675"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="257055153272782848"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="368562259225608193"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="312782599439515650"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="197477050569719808"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="438846426441711616"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="152430800241950720"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="263631800021155840"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="95657348390977536"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="304260051915374603"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="169081145282002946"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="280447836007694338"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="331191382792208385"]:hover::before {
  transform: none;
  background-size: cover;
  background-position: center;
  padding: 6px 10px;
  height: auto;
  width: auto;
  box-sizing: border-box;
  white-space: nowrap;
  right: unset;
  left: calc(100% - 13px);
  bottom: -6px;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: none;
  display: block;
}

.wrapper-3t9DeA[user_by_bdfdb="214318588331294720"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="116243287936860167"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="96563253466898432"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="172426681800196096"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="130875493850284032"]:hover:before,
.wrapper-3t9DeA[user_by_bdfdb="244363360886325248"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="215036395507548161"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="296018550009626628"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="519790100956184586"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="144550650842316800"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="252460828157018112"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="316563263179456513"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="150967530075324416"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="498444458845536257"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="234148582523928576"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="147889058670968844"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="251465413995528194"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="120721814837002240"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="227648235097817089"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="210629330135547904"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="211376467114852352"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="143017752775360512"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="82987644316815360"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="324680910123302922"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="336678828233588736"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="433698341008965633"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="219078125974192128"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="131414719666847745"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="527971799770857512"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="531614184526577675"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="368562259225608193"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="312782599439515650"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="197477050569719808"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="438846426441711616"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="152430800241950720"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="263631800021155840"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="95657348390977536"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="169081145282002946"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="280447836007694338"]:hover::before,
.wrapper-3t9DeA[user_by_bdfdb="331191382792208385"]:hover::before {
  background-color: transparent;
  box-shadow: none;
}

/* content */
.wrapper-3t9DeA[user_by_bdfdb="331191382792208385"]:hover::before {
  content: "MaouSho";
  background-image: url(https://pa1.narvii.com/5946/ef82fd3248704fe7d60f9d868455cf5bf5c380a2_hq.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="280447836007694338"]:hover::before {
  content: "Let Go";
  color: black;
  background-image: url(https://i.imgur.com/kAMOSMz.gif);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.wrapper-3t9DeA[user_by_bdfdb="169081145282002946"]:hover::before {
  content: "Loli Hunter";
  color: #ff386d;
  background-image: url(https://i.imgur.com/54lClFJ.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="304260051915374603"]:hover::before {
  content: "I Am Bread";
  color: #FFC319;
  background-image: url(https://i.imgur.com/3kuxVY1.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="95657348390977536"]:hover::before {
  content: "Justin";
  color: white;
  background-image: url(https://i.imgur.com/bTxsGZI.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="263631800021155840"]:hover::before {
  content: "Neptune";
  color: white;
  background-image: url(https://i.imgur.com/dNWLJ3Z.jpg);
}

.wrapper-3t9DeA[user_by_bdfdb="152430800241950720"]:hover::before {
  content: "HorrorTroll";
  color: #f4b7c9;
  background-image: url(https://i.imgur.com/lItkITi.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="438846426441711616"]:hover::before {
  content: "Senbonzakura";
  color: white;
  background-image: url(https://i.imgur.com/RiKhskI.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="197477050569719808"]:hover::before {
  content: "Crystallize";
  color: #6441A4;
  background-image: url(https://i.imgur.com/OUuW6ID.gif);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wrapper-3t9DeA[user_by_bdfdb="312782599439515650"]:hover::before {
  content: "Keeper of Lolis";
  color: #b591d4;
  background-image: url(https://i.imgur.com/n0r9mnG.gif);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wrapper-3t9DeA[user_by_bdfdb="368562259225608193"]:hover::before {
  content: "Lost Soul King";
  color: #ff0000;
  background-image: url(https://i.imgur.com/E1r6foN.png);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wrapper-3t9DeA[user_by_bdfdb="257055153272782848"]:hover::before {
  content: "SRL Official";
  color: #00bbff;
  background-image: none;
}

.wrapper-3t9DeA[user_by_bdfdb="257055153272782848"]::before {
  background-image: url(https://i.imgur.com/Biwmcj8.png);
}

.wrapper-3t9DeA[user_by_bdfdb="531614184526577675"]:hover::before {
  content: "Slide into my DMs";
  color: #FF69B4;
  background-image: url(https://i.imgur.com/O4QCLUG.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="527971799770857512"]:hover::before {
  content: "𝓠𝓊𝑒𝑒𝓃 𝑜𝒻 𝓣𝑜𝓍𝒾𝒸𝓈";
  color: #80ff00;
  background-image: url(https://i5.wampi.ru/2019/04/03/ezgif-5-dfdbff5922bd.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="131414719666847745"]:hover::before {
  content: "Assassin";
  color: #F9F9F9;
  background-image: url(https://m.kyaa.sg/ot4i9xc5.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="219078125974192128"]:hover::before {
  content: "Voluptuous";
  color: #6f182a;
  background-image: url(https://i.imgur.com/6j9p6AV.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="433698341008965633"]:hover::before {
  content: "Skittles";
  color: #FFFFFF;
  background-image: url(https://i.imgur.com/NlkxvZh.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="336678828233588736"]:hover::before {
  content: "lushu";
  color: #00fff5;
  background-image: url(https://i.imgur.com/OJqN8S4.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="422110084039180318"]:hover::before {
  content: "Лил -5.";
  color: orange;
  background-image: none;
}

.wrapper-3t9DeA[user_by_bdfdb="173177738914562048"]:hover::before {
  content: 'D E A D';
  background-image: url(https://i.imgur.com/S1xKXkY.gif);
  color: #fff;
}

.wrapper-3t9DeA[user_by_bdfdb="185119357578379264"]:hover::before {
  content: "Daddy";
  background-image: none;
  color: #fff;
}

.wrapper-3t9DeA[user_by_bdfdb="96563253466898432"]:hover::before {
  content: "Universal Architect";
  color: white;
  background-image: url(https://i.imgur.com/JdGlNH3.gif);
  text-shadow: none !important;
}

.wrapper-3t9DeA[user_by_bdfdb="172426681800196096"]:hover::before {
  content: 'Primal Fear';
  color: #fff;
  background-image: url(https://i.imgur.com/C1VKjP1.gif);
}

.wrapper-3t9DeA[user_by_bdfdb="130875493850284032"]:hover:before {
  content: "Wassup";
  color: black;
  text-shadow: -1px 0 white, 
    0 1px white, 
    1px 0 white, 
    0 -1px white !important;
  background-image: url(https://i.imgur.com/WvsF0pK.png);
}

.wrapper-3t9DeA[user_by_bdfdb="244363360886325248"]:hover::before {
  content: "gottem";
  color: Black;
  background-image: url(https://i.imgur.com/DC9ZEd9.png);
  text-shadow: none;
}

.wrapper-3t9DeA[user_by_bdfdb="123916078882488320"]:hover::before {
  content: "Viduus";
  color: white;
  background: black;
}

.wrapper-3t9DeA[user_by_bdfdb="215036395507548161"]:hover::before {
  content: ' Temporal_Timelord  時」';
  background-image: url(https://i.imgur.com/yXipiZw.gif);
  color: white; 
}

.wrapper-3t9DeA[user_by_bdfdb="296018550009626628"]:hover::before {
  content: 'Astral';
  background-image: url(https://i.imgur.com/AqfRU8r.gif);
  color: #F4FAF8;
}

.wrapper-3t9DeA[user_by_bdfdb="519790100956184586"]:hover::before {
  content: 'SpencerPcGamer';
  background-image: url(https://i.imgur.com/z7FebcA.gif);
  color: #00ecff;
}

.wrapper-3t9DeA[user_by_bdfdb="144550650842316800"]:hover::before {
  content: 'Not A Moron!';
  background-image: url(https://files.division25.xyz/CSS/background.gif);
  background-position: bottom;
  color: #ff0800;
}

.wrapper-3t9DeA[user_by_bdfdb="252460828157018112"]:hover::before {
  content: 'Voyant';
  background-image: url(https://i.imgur.com/gcgyuCa.gif);
  color: #d8d8d8;
}

.wrapper-3t9DeA[user_by_bdfdb="316563263179456513"]:hover::before {
  content: "Toby";
  background-image: url(https://cdn.discordapp.com/attachments/535251077570756628/535254646860677150/ezgif-4-5cf49f2675d8.gif);
  color: #FF00FF;
}

.wrapper-3t9DeA[user_by_bdfdb="150967530075324416"]:hover::before {
  content: "Atom";
  background-image: url(https://i.imgur.com/YjTIUJY.gif);
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.wrapper-3t9DeA[user_by_bdfdb="498444458845536257"]:hover::before {
  content: "fag";
  background-image: url(https://i.imgur.com/A78S8MD.gif);
  color: #593695;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.wrapper-3t9DeA[user_by_bdfdb="234148582523928576"]:hover::before {
  content: "@everyone";
  background-image: url(https://i.imgur.com/zy4q3mw.png);
  color: #7289DA;
}

.wrapper-3t9DeA[user_by_bdfdb="147889058670968844"]:hover::before {
  content: "Hentai™";
  background-image: url(https://i.imgur.com/yRl0q5x.gif);
  color: #FB4B25;
}

.wrapper-3t9DeA[user_by_bdfdb="251465413995528194"]:hover::before {
  content: "XXV";
  background-image: url(https://i.imgur.com/DKWMnH6.gif);
  color: #DEAD25;
  padding: 6px 22.5px;
}

.wrapper-3t9DeA[user_by_bdfdb="120721814837002240"]:hover::before {
  content: "Selfmade";
  background-image: url(https://i.imgur.com/E2GAAT7.gif);
  color: #ff0055;
}

.wrapper-3t9DeA[user_by_bdfdb="227648235097817089"]:hover::before {
  content: "SlimeKing";
  background-image: url(https://i.imgur.com/rWjyQrd.gif);
  color: #5ae5ed;
}

.wrapper-3t9DeA[user_by_bdfdb="210629330135547904"]:hover::before {
  content: "Loaf";
  background-image: url(https://i.imgur.com/QJ1V7ct.gif);
  color: #8601c9;
}

.wrapper-3t9DeA[user_by_bdfdb="211376467114852352"]:hover::before {
  content: "Euphoria";
  background-image: url(https://i.imgur.com/Wsulx7z.gif);
  color: #36208D;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.wrapper-3t9DeA[user_by_bdfdb="143017752775360512"]:hover::before {
  content: "Masquerade";
  background-image: url(https://i.imgur.com/aQwLSFI.jpg);
  color: #42ffbc;
}

.wrapper-3t9DeA[user_by_bdfdb="82987644316815360"]:hover::before {
  content: 'Tea Time';
  background: url(https://i.imgur.com/kv9NcQs.gif);
  color: #B71C1C;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.wrapper-3t9DeA[user_by_bdfdb="324680910123302922"]:hover::before {
  content: 'Peace Walker';
  background: url(https://i.imgur.com/lkhJoDw.gif);
  color: #F1CD1C;
}

/* extra hover effects */
.wrapper-3t9DeA[user_by_bdfdb="116243287936860167"]:hover::before {
  filter: invert(95%);
}